body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;

}
.herologotext{
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}
.herotext{
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.herosecondarytext{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}
.headerone{
    display: flex;
    justify-content: space-between;
}
.headertwo{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 52px;
}
.leftheader{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    width: 400px;
}
.headerbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    gap: 100px;
    margin-bottom: 100px;

}   
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
img{
    display: flex;
    background-color: silver;
    width: 500px;
    height: 220px;
}
button{
    background-color: #3882f6;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bolder;
}


