body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
}
.header, .footer{
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 40px;
    justify-content: center;
    color: #e5e7eb;
}
.herologotext{
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}
.herotext{
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.herosecondarytext{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}
.headerone{
    display: flex;
    justify-content: space-between;
}
.headertwo{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 52px;
}
.leftheader{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    width: 400px;
}
.headerbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    gap: 100px;
    margin-bottom: 100px;

}   
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 500px;
    height: 220px;
}
button{
    background-color: #3882f6;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}
.randominfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}
h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}
.info{
    text-align:center;
    max-width: 140px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.img{
    width: 130px;
    height: 140px;
    border-radius: 12px;
    border: 5px solid #3882f6; /*got to add solid to add border color*/
}
.quotes{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.quotetext{
    max-width: 780px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.author{
    display: flex;
    justify-content:end;
    font-size: 25px;
    color: #1f2937;
    font-weight: 900;
    max-width: 800px;
    margin-right: 50px;
}
.back{
    margin: auto;
    padding: 100px;
}
.signup{
    display: flex;
    background-color: #3882f6;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    gap: 120px;
}
.maintext{
    color: #f9faf8;
    font-weight: 800;
    font-size: 20px;
}
.maintext, .sidetext{
    padding: 0;
    margin: 0;
}
.sidetext{
    color: rgba(245, 245, 245, 0.852);
}
.pboss{
    display: flex;
    flex-direction: column;
}
.signupbutton{
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: white;
    cursor: pointer;
}
.signupbutton:hover{
    background-color: white;
    color: gray;
}


